/* Base */

@font-face {
    font-family: 'Digital';
    src: url('fonts/389-font.otf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #eee1d4;
}

/* Click counter styles */

.click-counter {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 3px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}

.click-counter__value {
    margin-bottom: 10px;
    font-size: 3em;
    font-family: 'Digital';
}

.btn-group {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.btn-group__btn {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .25),
    inset 0 2px 0 rgba(255, 255, 255, .6);
}

.btn-group__btn:hover {
    cursor: pointer;
    background: rgb(185, 190, 180);
}

/* Modal styles */

.modal {
    position: absolute;
    width: 310px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: rgb(185, 190, 180);
    border-radius: 15px;
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.8);
}

.d-none {
    display: none;
}